body {
    margin: 0;
	background: #2A2A2A;
}

* {
  box-sizing: border-box;
}

.top {
	display: flex;
       justify-content: space-between;
       align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 40px;
    padding-right: 30px;
    background: #FF6600;
    font-family: 'Gajraj One', sans-serif;
}

.shapka {
    display: flex;
       justify-content: flex-start;
       align-items: center;
	color: #2A2A2A;
	font-size: 45px;
    padding-left: 40px; 
    padding-right: 40px;
    margin: 0 auto;
}

.icon {
	width: 100px;
	height: 100px;
	padding-right: 40px;
}

.b1 h1, .b2 h1, .b3 h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #E65C00;
	color: #2A2A2A;
    font-size: 24px;
    font-weight: 300;
    padding: 10px 40px;
    border-radius: 10px;
}

.left-menu {
    width: 200px;
    height: 100vh;
    background: white;
    border-right: 3px solid black;
}

.text-menu {
    margin: 0 auto;
}
